<script type="text/ecmascript-6">
    import _ from 'lodash';
    import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'

    export default {
        data() {
            return {
                showInput: false,
                message: '',
            };
        },

        computed: {
            ...mapState([
                'users',
                'checkedIds',
                'pagination',
            ]),
            ...mapGetters([
                'checkedIdsCount'
            ]),
            computedCheckedIds: {
                get() {
                    return this.checkedIds;
                },
                set(newValue) {
                    this.updateCheckedIds(newValue)
                }
            }
        },
        mounted() {
            this.getUsers();
        },

        methods: {
            ...mapActions([
                'getUsers'
            ]),
            ...mapMutations([
                'clearCheckedIds',
                'updateCheckedIds'
            ]),
            sendMessage() {
                if (!this.message) {
                    return;
                }

                this.$http.post('/send-message', {message: this.message, id: this.checkedIds})
                    .then(() => {
                        this.clearCheckedIds();
                        this.message = '';
                        this.showInput = false;
                    });
            },
            deleteUsers() {
                this.$http.delete('/api/users', {params: {id: this.checkedIds}})
                    .then(() => {
                        this.clearCheckedIds();
                        this.getUsers();
                        if (this.$refs.paginate) {
                            this.$refs.paginate.selected = 0;
                        }
                    });
            },
            showMessageInput() {
                this.showInput = this.checkedIds.length !== 0;
            }
        }
    }
</script>

<template>
    <div class="container">
        <h1>Telegram Subscribers [{{ pagination.total }}]</h1>
        <table class="table">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>
                        <input type="checkbox"
                               v-bind:id="'user-' + user.telegram_id"
                               v-bind:value="user.telegram_id"
                               v-model="computedCheckedIds">
                        <label v-bind:for="user.telegram_id">{{ user.name }} [{{ user.telegram_id }}]</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginate
                :pageCount="this.pagination.lastPage"
                :pageRange="1"
                :marginPages="1"
                :initialPage="0"
                :click-handler="getUsers"
                :prev-text="'<<'"
                :next-text="'>>'"
                :container-class="'pagination'"
                :page-class="'page-item'"
                ref="paginate">
        </paginate>
        <div class="">
            <button type="button"
                    @click="showMessageInput()"
                    class="btn btn-default">Send message to selected [{{ checkedIdsCount }}]</button>
            <button type="button"
                    class="btn btn-default"
                    data-toggle="modal"
                    data-target="#delete-users-modal">Delete selected [{{ checkedIdsCount }}]</button>
        </div>
        <hr>
        <div v-if="showInput">
            <input type="text" v-model="message">
            <button type="button"
                    @click="sendMessage()"
                    class="btn btn-default">Send</button>
        </div>
        <div id="delete-users-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete selected users</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete selected users?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button"
                                class="btn btn-danger"
                                data-dismiss="modal"
                                @click="deleteUsers()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
